@import "tailwindcss";

:root {
    --spacing             : 0.25rem;
    --text-sm--line-height: calc(1.25 / 0.875);
    --radius-md           : 0.375rem;
    --text-sm             : 0.875rem;
}

/*
inline-flex items-center rounded-md button-color px-3 py-2 text-sm font-semibold text-white inset-ring inset-ring-white/5
*/
.button {
    display       : inline-flex;
    padding-block : calc(var(--spacing) * 2);
    align-items   : center;
    font-size     : var(--text-sm);
    line-height   : var(--tw-leading, var(--text-sm--line-height));
    padding-inline: calc(var(--spacing) * 3);
    border-radius : var(--radius-md);
    color: white;
    box-shadow: inset 0 0 0 calc(1px + 0px) #272727;
    --tw-ring-inset: inset;
}

.button-color {
    background-color: #1a1a1a;
}

.button-color:hover {
    background-color: #333333;
}